{% extends 'base.html.twig' %}

{% block body %}

<h1>Profil</h1>
<h2>Télécharger les musiques que vous souhaitez*</h2>
<span>*Taille maximale: 4 Mo</span>

{{ form_start(form) }}
{{ form_row(form.audioFile) }}
{{ form_end(form) }}

<h2>Et écoutez-les</h2>
{% for item in songs %}
<span>{{ item.getAudioName }}</span> <audio src={{ item.getAudioFile }} controls></audio>
{% endfor %}
{% endblock %}
