{% extends 'base.html.twig' %} 

{% block body %}

    {% block header %} 
        {{ parent() }} 
    {% endblock %}

    {% block main %}

        <div class="container">
            <div class="row">
                <h1 class="mx-auto">Profil</h1>

                <div class="w-100"></div>

            </div>

            <div class="row">
             <a href="{{ path('new_song') }}">Télécharger une musique</a>
            </div>

            <div class="row">

                {% if not songs is empty%}
                <h2 class="mx-auto">Ecouter vos musiques</h2>
                {% endif %}
                <div class="w-100"></div>
                {% for song in songs %}
                <div class="col-6">
                    <span>{{ song.audioName }}</span>
                    <audio src="{{ asset('storage/audio/file/') ~ song.audioFile}}" controls></audio>
                    <img src="{{ asset('storage/audio/cover/') ~ song.cover}}"/>
                    <a href="{{ path('edit_song', {'id': song.id}) }}">
                        Editer la chanson
                    </a>
                    <a href="{{ path('remove_song', {'id': song.id}) }}">
                        Supprimer la chanson
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>

    {% endblock main %}

{% endblock body %}
