{% extends 'base.html.twig' %}

{% block body %}

    {% block header %} 
        {{ parent() }} 
    {% endblock %}

    {% block main %}

    {% if usernameExist is same as(true) %}
    <span>Ce nom d'utilisateur existe déjà</span>
    {% endif %} 
    {{ form_start(form) }} 
    {{ form_row(form.username) }} 
    {{ form_row(form.email) }} 
    {{ form_row(form.plainPassword) }}

    {{ form_end(form) }}

    {% endblock main %}

{% endblock body %}